.textNF{
    font-family: monospace;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 10vh;
    color: rgb(37, 37, 37);
}
.notFoundPage{
   min-height: 100vh;
   width: 100%;
   background-color: rgb(178, 178, 178);
}
.sadIcon{
    width: 10vh;
    margin: 0 auto;
    opacity: 70%;
    padding: 5vh;
}