.textAbout{
    font-family: monospace;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    padding: 10vh;
}
.aboutPage{
   min-height: 95vh;
   background-color: rgb(252, 252, 252);
}