.text{
    font-size: 30px;
    color: aliceblue;
    font-family: monospace;
}
#new-quote, .twitterIcon{
    border-style: none;
    border-radius: 5px;
    min-height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:aliceblue;
    font-size: 1.5rem;
    background-color: aliceblue;
    font-weight: 600;
    transition: 1s;
    color: blueviolet;
    margin: 4px;
}


.quoteBox{
    align-items: center;
    text-align: center;
    border-radius: 100px;
    padding: 100px;
    position: relative;
    transition: 1s;
    background-color: blueviolet;
}
.box{
    margin: 200px;
    padding: 100px;
    color: aliceblue;
}
#all{
    max-width: 100%;
    max-height: auto;
    padding: 100px;
    background-color:aliceblue;
}
.twitterIcon{
    padding: 3px;
}
.butQT{
    display: grid;
    grid-gap: 0px;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}