html{
  background-color: #333;
}

.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.8);
  z-index: 1;
  display: flex;
  min-height: 70px;
}

@supports(-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .navBar {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}

.Content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: monospace;
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: rgba(116, 105, 218, 0.335);
}


body {
  margin: 0px;
}

.grid {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 10px;
}

@media only screen and (max-width: 1400px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1200px) {
  .searchBar {
    display: none;
  }

}

@media only screen and (min-width: 833px) {
  #hamCheckBox {
    display: none;
   }
   
}

@media only screen and (max-width: 833px) {
  .grid {
    grid-template-columns: 1fr;
  }
  li{
    float: none;
  }

}

form.searchBar {
  margin-top: 0px;
}

/* Style the search field */
form.searchBar input[type=text] {
  padding: 13px;
  font-size: 17px;
  min-width: 300px;
  border-style: none;
  float: left;
  width: 40%;
  background: #f1f1f1;
  outline: none;
  border-radius: 10px 0px 0px 10px;
}

/* Style the submit button */
form.searchBar button {
  float: left;
  width: 10%;
  padding: 13px;
  font-size: 17px;
  border-style: none;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  opacity: 70%;
}

form.searchBar button:hover {
  background: #7d0bda;
}

/* Clear floats */
form.searchBar::after {
  content: "";
  clear: both;
  display: table;
}


.switch {
  float: right;
  position: relative;
  margin-top: 0.53rem;
  margin-right: 0.5rem;
  width: 60px;
  height: 34px;
  box-shadow: #7d0bda 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgba(22, 22, 22, 255);
}

input:focus+.slider {
  box-shadow: 0 0 1px rgba(22, 22, 22, 255);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
 
}

.slider.round:before {
  border-radius: 50%;
 
}


#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 3rem;
}
.menuBtns{
  margin-left: 30px;
}
.modeBtn{
  right: 0;
  position: absolute;
  margin-top: 10px;
}
.navFiller{
  height: 70px;
  width: 100%;
}