footer {
    text-align: center;
    font-size: 1rem;
    margin-top:auto; 
    overflow: hidden;
    background-color: #333;
    color: whitesmoke;
    font-family: monospace;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
  }