

.projectPageGrid {
    margin: 0 auto;
    height: 100%;
    display: grid;
    background-color: rgba(182, 182, 182, 0.216);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 10px;
}

.project-item {
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #444;
    transition: all .1s ease-in;
    border-radius: 16px;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-family: monospace;
}
.project-preview{
    border-style: none;
    border-radius: 16px;
    height: 70vh;
    min-width: 100%;
}
.project-links img,#codeIcon{
    max-width: 35px;
    padding-top: 10px;
}

.project-links img{
    float: right;
    padding-right: 10px;
}

.project-links #codeIcon{
    padding-left: 10px;
}


.iframe-loading{
    background: url("./images/Spinner-1.3s-244px.gif")center center no-repeat;
}
.sImg{
    max-width: 100%;
    margin: 0 auto;
    border-radius: 16px;
}
.infoText{
    border-radius: 16px;
    font-size: 18px;
}
 #item-Tech svg{
    height: 10vh;
    width: 10vh;
    
 }
 #logoSvgs{
    grid-template-columns: repeat(3, 1fr)
 }
 #cDate{
    display: flex;
    justify-content: center;
 }

@media only screen and (min-width: 833px) {
    #item-Title{
        grid-column: 1 / span 3;
    }
    #item-Preview{
        grid-column: 1 / span 2;
        
    }
     #sText{
        grid-column: 2 /  4;
     }
  }


@media only screen and (max-width: 833px) {
    .projectPageGrid {
        grid-template-columns: 1fr;
     }
     .project-preview{
        max-height: 55vh;
    }
    #item-Title h1{
        font-size: 2.5rem;
    }
  }